.container {
 /*background-color: purple;*/
}

ul li {
	list-style: none;
	float: left;
	font-size: 5em;
	margin: 10px;
	text-align: center;
}

.hideDIV {
	display: none;
}

input[type="number"] {
	font-size: 2em;
	width: 15%;

}

input[type="submit"] {
	font-size: 2em;
	width: 75%;
	margin: 0 auto;
}
